# MATH 210 Introduction to Mathematical Computing

**January 24, 2025**

* `for` loops
* Factorial
* Exponential Taylor Series
* Recursive Sequences

## `for` Loops

A `for` loop allows us to execute a block of Python code multiple times with different inpuut. the syntax is:

```
for item in sequence:
    Python code block
    Python code block
```

where:

* `for` is a keyword that starts the loop
* `item` is a variable name
* `in` is a keyword
* `sequence` is any sequence of values
* execute the code block for each value in sequence
* `for` statement ends with `:`
* code block is indented 4 spaces

In [1]:
for n in range(11):
    value = n**2
    print(value)

print("Done!")

0
1
4
9
16
25
36
49
64
81
100
Done!

In [2]:
squares = [n**2 for n in range(11)]
for square in squares:
    print(square)

print("Done!")

0
1
4
9
16
25
36
49
64
81
100
Done!

# Factorial

The factorial function is $n! = n(n-1)(n-1) \cdots (2)(1)$. Let's think of it as a sequence:

$$
1,1,2,6,24,120,720,...
$$

We can write this as a recursive sequence $x_0 = 1$, $x_{k} = k x_{k-1}$.

Write a function called `factorial` which takes integer `n` (greater than or equal to 0) and returns $n!$.

In [3]:
def factorial(n):
    xk = 1
    for k in range(2,n+1):
        xk = k*xk
    return xk

In [4]:
list(range(1,1))

[]

In [5]:
factorial(0) # 1

1

In [6]:
factorial(1) # 1

1

In [7]:
factorial(5) # 120

120

In [8]:
factorial(10) # 3628800

3628800

In [9]:
10*9*8*7*6*5*4*3*2

3628800

## Exponential Taylor Series

The Taylor series of the exponential is

$$
e^x = \sum_{n=0}^{\infty} \frac{x^n}{n!}
$$

Write a function called `exp_taylor` which takes input `x` and `N` and returns the partial sum of the Taylor series

$$
\sum_{n=0}^{N} \frac{x^n}{n!}
$$

In [10]:
def exp_taylor(x,N):
    terms = [x**n/factorial(n) for n in range(N+1)]
    value = sum(terms)
    return value

In [11]:
exp_taylor(1,1000) # 2.71828...

2.718281828459045

In [12]:
exp_taylor(2,3) # 1 + 2 + 2**2/2 + 2**3/6 = 19/3

6.333333333333333

In [13]:
19/3

6.333333333333333

## Recursive Sequences

A recursive sequence is a sequence where value $x_n$ depends on the previous values $x_{n-1},x_{n-2},\dots$. For example, if $f(x)$ is any function and $a$ is any number we can define: $x_0 = a$, $x_{n+1} = f(x_n)$.

Write a function called `aseq` which takes `a` and `N` and returns the value $x_N$ of the recursive sequence $x_0 = a$, $x_{n+1} = \sqrt{2 + x_n}$.

In [14]:
def aseq(a,N):
    xk = a
    for k in range(N):
        xk = (2 + xk)**0.5
    return xk

In [15]:
aseq(1,2) # x0 = 1, x1 = 3**0.5, x2 = (2 + 3**0.5)**0.5

1.9318516525781366

In [16]:
(2 + 3**0.5)**0.5

1.9318516525781366

In [17]:
aseq(3,1) # x0 = 3, x1 = 5**0.5

2.23606797749979

In [18]:
5**0.5

2.23606797749979

In [19]:
aseq(5,200)

2.0

It looks like the sequence converges to 2 no matter what the initial value is. Why?