# MATH 210 Introduction to Mathematical Computing

**January 13, 2025**

* Variables
* Sequence Types
* Builtin Functions for Sequences
* List Comprehensions

## Variables

Use variables to easily modify and combine values together. A variable name can be any combination of letters and numbers and characters as long as it begins with a letter and is not a reserved word.

For example, write a few lines of code to compute the norm of a vector $\vec{v} = (x,y,z)$:

$$
\| \vec{v} \| = (x^2 + y^2 + z^2)^{1/2}
$$

In [1]:
x = 1
y = -2
z = -1

norm = (x**2 + y**2 + z**2)**0.5
print(norm)

2.449489742783178

## Sequence Types

There are 3 main sequence types: list, tuple and range.

Create a list of numbers using square brackets `[1,2,3,4,5]`.

In [2]:
squares = [1,4,9,16,25,36,49,64,81]

In [3]:
type(squares)

list

In [4]:
v = [1,-2,-1]

In [5]:
type(v)

list

Access entries in the list using index syntax `v[i]` which returns entry at index `i` in list `v`.

In [7]:
squares[2]

9

Python uses 0-indexing which means sequences start at index 0.

In [8]:
squares[7]

64

Access entries starting from the end using negative indices.

In [9]:
squares[-1]

81

Create a tuple using parentheses `(1,2,3,4,5)`.

In [10]:
date = (2025,1,13)

In [11]:
type(date)

tuple

Indexing works the same way.

In [12]:
date[0]

2025

The only real difference is that tuples are immutable and lists are mutable. This means that we cannot change the entries in a tuple after it's created but we can with lists.

In [13]:
date[2] = 14

TypeError: 'tuple' object does not support item assignment

In [14]:
squares[0] = -1

In [15]:
squares

[-1, 4, 9, 16, 25, 36, 49, 64, 81]

Create a range object using the `range` function. In particular, `range(a,b,step)` creates the sequence of integers from `a` to `b` (exclusive) by increment `step`, and `range(a,b)` creates the sequence of integers from `a` to `b` (exclusive) by increment `1`.

A range object is an efficient sequence type that we use for loops and iteration. It doesn't create and store integers in memory. Bascially it represents the formula `a + n*step` and produces values on demand.

In [16]:
seq = range(1,12,2)

In [17]:
print(seq)

range(1, 12, 2)

In [18]:
seq[3]

7

Use the function `list` to convert a sequence into a list.

In [19]:
seq_as_list = list(seq)

In [20]:
print(seq_as_list)

[1, 3, 5, 7, 9, 11]

In [21]:
seq1 = range(-10,11)

In [22]:
print(seq1)

range(-10, 11)

In [23]:
list1 = list(seq1)

In [24]:
print(list1)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Builtin Functions for Sequences

Compute the sum of a sequence of numbers using the function `sum`.

In [25]:
seq2 = [-5,7,3,1,-4]
sum2 = sum(seq2)
print(sum2)

2

In [26]:
N = 1000
seqN = range(1,N+1)
sumN = sum(seqN)
print(sumN)

500500

In [27]:
N*(N+1)/2

500500.0

Use functions `min` and `max` to find the minimum and maximum values in a sequence.

In [28]:
w = [1,4,2,5,7,-3,2]

In [29]:
min(w)

-3

In [30]:
max(w)

7

Use the function `len` to compute the length of a sequence.

In [31]:
len(w)

7

## List Comprehensions

Create a list using a list comprehension:

```
listname = [expression for item in sequence]
```

* `listname` is a variable name
* `expression` is any Python expression involving `item`
* `item` is a variable which is assigned each value in `sequence`
* `sequence` is any sequence
* `for` and `in` are keywords in the construction

In [32]:
N = 10
squares = [n**2 for n in range(1,N+1)]

In [33]:
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
inverse_squares = [1/square for square in squares]

In [35]:
print(sum(inverse_squares))

1.5497677311665408